$error-color: red;
$primary-inactive-color: #7c898d;
$primary-inactive-font-color: lighten($primary-inactive-color, 30);
$very-light: #ddd;
$transparent-light: transparentize(white, 0.4);
$navbar-height: 60px;
